<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Victic's Catwalk</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
  <header>
    <h1>Victic's Catwalk</h1>
  </header>
  <main>
    <div class="motivation">
      If you're sad, watch a cat!
    </div>
    <div class="slideshow-container">
      <img id="catImage" src="<%= image %>" alt="Cat Image">
      <br>
      <button id="nextButton">More cats!</button>
    </div>
  </main>
  <script src="/script.js"></script>
</body>

</html>