<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Victic's Catwalk</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
  <header>
    <img src="/cat.svg" alt="catwalk logo" class="logo">
    <h1>Victic's Catwalk</h1>

  </header>
  <main>
    <div class="motivation-container">
      <div class="motivation">
        If you're sad, watch a cat!
      </div>
    </div>

    <div class="item">
      <div class="polaroid"><img src="<%= image %>">
        <!-- <div class="caption">I Miss London</div>-->
      </div>
    </div>
    <button id="nextButton">More cats!</button>
  </main>
  <script src="/script.js"></script>
</body>

</html>