@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: 'Lato', sans-serif; 
  background-color: #bdffbd; /* Light green background */
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333; /* Dark header background */
  color: #fff; /* White text */
  padding: 20px 0;
  text-align: center;
  align-items: center;
  z-index: 999; /* Ensuring the header stays on top */
}
h1 {
  font-size: 2.5rem; 
}

main {
  padding-top: 240px; /* Added padding to prevent main content from being hidden under the fixed header and motivation container */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: calc(100vh - 100px); /* Adjusted to account for header and button */
  text-align: center;
}

.motivation-container {
  position: fixed;
  top: 80px; /* Adjust based on the height of your header */
  left: 0;
  width: 100%;
  display: flex;
  align-items: flex-start; /* Aligning items to the start */
  justify-content: flex-start; /* Aligning container to the start */
  padding: 20px; /* Padding to give space around the text */
  z-index: 1000; /* Keeping it below the header but above other elements */
}

.motivation {
  transform: rotate(-20deg); /* Corrected rotation property */
  font-size: 1.5rem; 
  background-color: #333; 
  color: #fff;
  padding: 10px;
  padding-top: 100px;
  padding-left: 70px;
  padding-right: 50px;
  max-width: 400px;
  margin-top: -80px; /* Adjusted to move 20px up */
  margin-left: -100px; 
}

.slideshow-container {
  position: relative;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #000;
  border-radius: 15px;
}

.polaroid {
  background: #000;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
  border-radius: 20px;
}

.polaroid > img {
  width: 75%; /* Adjusted to maintain the aspect ratio */
  max-height: calc(100vh - 300px); /* Adjusted to fit within one screen without scrolling */
  object-fit: cover; /* Ensures the image covers the area without distorting the aspect ratio */
}
.caption {
  font-size: 1.8rem;
  text-align: center;
  line-height: 2em;
}
.item {
  width: 80%;
  display: inline-block;
  margin-top: 2rem;
  filter: grayscale(100%);
}
.item .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) {
  transform: scale(0.8, 0.8) rotate(5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) .polaroid:before {
  transform: rotate(6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+2) {
  transform: scale(0.8, 0.8) rotate(-5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+2) .polaroid:before {
  transform: rotate(-6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+4) {
  transform: scale(0.8, 0.8) rotate(3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+4) .polaroid:before {
  transform: rotate(4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:nth-of-type(4n+3) {
  transform: scale(0.8, 0.8) rotate(-3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+3) .polaroid:before {
  transform: rotate(-4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:hover {
  filter: none;
  transform: scale(1, 1) rotate(0deg) !important;
  transition: all 0.35s;
}
.item:hover .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transform: rotate(0deg);
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 5%;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
  transition: all 0.35s;
}


#nextButton {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #FF5733; /* Unique button color for a fresh look */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: fixed; /* Fixed position */
  top: 103px; /* Distance from the top */
  right: 30px; /* Distance from the right */
  z-index: 1001;
}


#nextButton:hover {
  background-color: #C70039; /* Darker shade for hover effect */
}
